<p>this is second page's hbs</p>
<hr />
{{model.msg}}
<hr />
{{com-btn}}
<hr />
{{com-btn2 test=model.msg}}
<hr />
{{#com-block}}
    <p>这是使用组件的时候传进去的，作为组件的第二部分</p>
{{/com-block}}
<hr />
{{com-btn3}}
<hr />
{{com-btn4}}
<hr />
{{button-with-confirmation
    onConfirm=(action "testConfirmAction") 
    onCancle=(action "testCancleAction") 
}}
{{#link-to 'third-page'}}link-to-third-page{{/link-to}}