{{#each model as |user|}}
    <p>ID: {{user.id}}</p>
    <p>firstName: {{user.firstName}}</p>
    <p>lastName: {{user.lastName}}</p>
    <p>fullName: {{user.fullName}}</p>
    <p>email: {{user.email}}</p>
    <p>isTest: {{user.isTest}}</p>
    <p>birthday: {{user.birthday}}</p>
{{/each}}
<hr />
<div {{action "getUser"}}><button>getUser</button></div>